@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './colors.scss';

html, body {
    margin: 0 !important;
    padding: 0 !important;
    background: $app-background;
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
}
::placeholder {
    opacity: 1;
    color: white;
}
::-ms-input-placeholder, :-ms-input-placeholder {
    color: white;
}