.row, .rows {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    li {
        margin: 0;
        padding: 0;
    }
}
.rows {
    vertical-align: top;
}
.row {
    li {
        display: inline-block;
    }
}
.num-labels {
    vertical-align: top;
    background: turquoise;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.num-label {
    text-align: right;
    margin: 0;
    padding: 0;
    background: violet;
}
.letter-labels {
    background: yellowgreen;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.letter-label {
    background: red;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}
@media (max-aspect-ratio: 3/4) {
    .board-and-stats {
        background-color: springgreen;
    }
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
    .board-and-stats {
        background-color: sienna;
    }
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {
    .board-and-stats {
        background: royalblue;
    }
}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {
    .board-and-stats {
        background: green;
    }
}
@media (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {
    .board-and-stats {
        background: slategray;
    }
}
@media (min-aspect-ratio: 16/9) {
    .board-and-stats {
        background: white;
        position: fixed;
        top: 54%;
        left: 50%;
        transform: translate(-50%,-53%);
        height: 84vh;
        width: 155vh;
    }
    .board-and-stats > * {
        display: inline-block;
    }
    .num-labels {
        height: 80vh;
        width: 4vh;
    }
    .num-label {
        height: 10vh;
        width: 4vh;
    }
    .letter-labels {
        height: 4vh;
        width: 80vh;
    }
    .letter-label {
        height: 4vh;
        width: 10vh;
    }
}