.dead-square {
    display: inline-block;
    vertical-align: bottom; // very important
    padding: 0;
    margin: 0;
    border: none;
    font-size: 0;
}
button:focus {
    outline: none;
}
.dead-transparent {
    opacity: 0;
}
.count-transparent, .count-opaque {
    display: inline-block;
    vertical-align: bottom; // very important
    background: red;
}
.count-transparent {
    opacity: 0;
}
.count-opaque {
    font-size: 2vh;
}

@media (max-aspect-ratio: 3/4) {

}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {

}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {

}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {

}
@media (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {

}
@media (min-aspect-ratio: 16/9) {
    .dead-square {
        height: 5vh;
        width: 5vh;
    }
    .dead-transparent, .dead-opaque, .count-transparent, .count-opaque {
        height: 3vh;
        width: 3vh;
    }
}