.dead-square-wrapper {
    background-color: springgreen;
}
.dead-square {
    position: relative;
    vertical-align: bottom; // very important
    padding: 0;
    margin: 0;
    border: none;
    font-size: 0;
}
button:focus {
    outline: none;
}
.dead-transparent {
    opacity: 0;
}
.count-transparent, .count-opaque {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.count-transparent {
    opacity: 0;
}
@media (max-aspect-ratio: 3/4) {

}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {

}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {

}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {

}
@media (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {

}
@media (min-aspect-ratio: 16/9) {
    .dead-square {
        height: 6vh;
        width: 6vh;
    }
    .dead-transparent, .dead-opaque {
        height: 5vh;
        width: 5vh;
    }
    .count-transparent, .count-opaque {
        font-size: 2.5vh;
        height: 2vh;
        width: 2vh;
    }
}