.dead-square-wrapper {
    background-color: springgreen;
}
.dead-square {
    position: relative;
    vertical-align: bottom; // very important
    padding: 0;
    margin: 0;
    border: none;
    font-size: 0;
}
button:focus {
    outline: none;
}
.dead-transparent {
    opacity: 0;
}
.count-transparent, .count-opaque {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.count-transparent {
    opacity: 0;
}
@media (max-aspect-ratio: 3/4) {

}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {

}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {
    .dead-square {
        height: 5vw;
        width: 5vw;
    }
    .dead-transparent, .dead-opaque {
        height: 4vw;
        width: 4vw;
    }
    .count-transparent, .count-opaque {
        font-size: 1.75vw;
        height: 1.5vw;
        width: 1.5vw;
    }
}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {
    .dead-square {
        height: 3.5vw;
        width: 3.5vw;
    }
    .dead-transparent, .dead-opaque {
        height: 2.5vw;
        width: 2.5vw;
    }
    .count-transparent, .count-opaque {
        font-size: 1.25vw;
        height: 1vw;
        width: 1vw;
    }
}
@media (min-aspect-ratio: 3/2) {
    .dead-square {
        height: 3vw;
        width: 3vw;
    }
    .dead-transparent, .dead-opaque {
        height: 2.5vw;
        width: 2.5vw;
    }
    .count-transparent, .count-opaque {
        font-size: 1.25vw;
        height: 1vw;
        width: 1vw;
    }
}