// -s means size, -w means width, -h means height
// each variable has the min aspect ratio it applies to tagged to the end

// **HOME SCREEN**

// min-aspect-ratio: 16/9
$home-wrapper-w-16_9: 92vw;
$main-home-screen-s-16_9: 40vw;
$home-header-h-16_9: 10vw;
$home-button-input-w-16_9: 16vw;
$home-button-h-16_9: 4vw;
$home-piece-s-16_9: 20vw;
$home-middle-margin-16_9: 6vw;
$guest-prompt-margin-16_9: 2vw;
$guest-input-h-16_9: 2vw;


// **GAME SCREEN**

// BOARD
