@import './colors.scss';

.home-wrapper {
    padding: 0;
}
.home-screen, .br-wrapper, .wr-wrapper {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.logo-header {
    color: white;
}
.guest-prompt {
    color: white;
}
.guest-name-input:focus {
    outline: none;
}
.br-wrapper {
    background: $dark-square-highlight;
}
.wr-wrapper {
    background: $dark-enemy-highlight;
}
.play-button-wrapper {
    margin: 0;
    padding: 0;
}
.home-screen {
    text-align: center;
}
.play-button {
    margin: 0;
    padding: 0;
    background: $dark-gray;
    color: white;
}
.guest-prompt {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
.guest-name-input {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: $dark-gray;
    color: white;
}
::placeholder {
    opacity: 1;
    color: white;
}
::-ms-input-placeholder, :-ms-input-placeholder {
    color: white;
}

@media (max-aspect-ratio: 1/1) {

}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {

}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {

}

@media (min-aspect-ratio: 3/2) {
    .home-wrapper {
        width: 92vw;
        margin-top: 4vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .home-screen {
        width: 40vw;
        height: 40vw;
    }
    .home-wrapper > * {
        display: inline-block;
    }
    .logo-header {
        width: 40vw;
        height: 10vw;
        font-size: 8vw;
    }
    .play-button {
        width: 16vw;
        height: 4vw;
        font-size: 1.75vw;
        border-radius: 1vw;
        border: none;
    }
    .br-wrapper, .wr-wrapper, .home-br, .home-wr {
        height: 20vw;
        width: 20vw;
    }
    .br-wrapper {
        margin-right: 6vw;
    }
    .wr-wrapper {
        margin-left: 6vw;
    }
    .guest-prompt {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2vw;
    }
    .guest-name-input {
        margin-bottom: 1vw;
        height: 2vw;
        width: 16vw;
        font-size: 1vw;
    }
}