@import './colors.scss';

.message-list-wrapper {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    border: none;
    background: $chat-background;
}
.message-list {
    margin: 0;
    list-style-type: none;
    li {
        margin: 0;
        padding: 0;
    }
}
.message-user {
    margin: 0;
    padding: 0;
}
.message-content {
    margin: 0;
    padding: 0;
    background: #91c2e3;
}
@media (max-aspect-ratio: 3/4) {

}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {

}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {

}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {
    .message-list-wrapper {
        height: 49.5vw;
    }
    .message-list {
       padding: 0.5vw;
       li {
           padding-bottom: 0.5vw;
       }
    }
    .message-content {
        padding: 0.5vw;
        width: max-content;
        max-width: 19vw;
        border-radius: 1vw;
        word-wrap: break-word;
    }
}
@media (min-aspect-ratio: 3/2) {
    .message-list-wrapper {
        height: 36vw;
    }
    .message-list {
       padding: 0.5vw;
       li {
           padding-bottom: 0.5vw;
       }
    }
    .message-content {
        padding: 0.5vw;
        width: max-content;
        max-width: 15vw;
        border-radius: 1vw;
        word-wrap: break-word;
    }
}