$light-color: #ededd4;
$dark-color: #7f945d;

button {
    padding: 0;
    margin: 0;
    height: 52px;
    width: 52px;
}
.square-light {
    background: $light-color;
}
.square-dark {
    background-color: $dark-color;
}