.square {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 0;
}
button:focus {
    outline: none;
}
// .transparent, .opaque {
//     -webkit-user-drag: none;
//     user-select: none;
// }
.transparent {
    opacity: 0;
}
@media (max-aspect-ratio: 3/4) {

}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {

}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {

}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {

}
@media (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {

}
@media (min-aspect-ratio: 16/9) {
    .square {
        height: 10vh;
        width: 10vh;
    }
    .transparent, .opaque {
        height: 9vh;
        width: 9vh;
    }
}
