.dead-enemy, .dead-friends, .dead-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

.dead-row {
    li {
        display: inline;
    }
}
@media (max-width: 480px) {

}
@media (max-width: 850px) {

}
@media (max-width: 1024px) {

}
@media (min-width: 1025px) {
    
}