@import './colors.scss';

.stats-wrapper {
    vertical-align: top;
}
.dead-enemy, .dead-friends {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.dead-enemy > *, .dead-friends > * {
    display: inline-block;
}
.moves-played {
    overflow-y: scroll;
    background: $chat-background;
}
.enemy-name-wrapper, .your-name-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    background: $dark-square-highlight;
}
.enemy-name, .your-name {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.moves-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}
@media (max-aspect-ratio: 1/1) {
    .stats-wrapper {
        order: 2;
    }
    .moves-played {
        height: 36vw;
    }
    .enemy-name-wrapper, .your-name-wrapper {
        height: 10vw;
    }
    .enemy-name, .your-name {
        width: 70vw;
        font-size: 6vw;
    }
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {
    .stats-wrapper {
        display: inline-block;
    }
    .moves-played {
        height: 36vw;
    }
    .enemy-name-wrapper, .your-name-wrapper {
        height: 5vw;
    }
    .enemy-name, .your-name {
        width: 15vw;
        font-size: 2.5vw;
    }
}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {
    .moves-played {
        height: 35.5vw;
    }
    .enemy-name-wrapper, .your-name-wrapper {
        height: 3vw;
    }
    .enemy-name, .your-name {
        width: 15vw;
        font-size: 1.5vw;
    }
}
@media (min-aspect-ratio: 3/2) {
    .moves-played {
        height: 27vw;
    }
    .enemy-name-wrapper, .your-name-wrapper {
        height: 2vw;
    }
    .enemy-name, .your-name {
        width: 15vw;
        font-size: 1.5vw;
    }
}